.note {
  width: 18.75rem;
  height: 18.75rem;
  margin: 0.625rem;
}

.note__header {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 13%;
  background-color: var(--color-secondary);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.note__header-btn {
  background-color: transparent;
  border: none;
  margin: 0.625rem;
}

.note__header-btn-edit,
.note__header-btn-edit-finish,
.note__header-btn-delete,
.note__header-btn-edit i,
.note__header-btn-delete i {
  font-size: 0.9375rem;
  color: var(--color-white);
  cursor: pointer;
}

.note__content {
  height: 85%;
  width: 100%;
  overflow: hidden;
}

.note__textarea {
  background-color: transparent;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 0.9375rem;
  background-color: var(--color-white);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  padding: 0.1875rem;
  outline: none;
}
